
<div class="container article mt-3">

  <div class="row">
    <div class="col-md-8 offset-md-1 mt-9 pl-md-0">
      <h2>{{ article.title }}</h2>
    </div>
  </div>

  <div class="row jump-nav">

    <!-- Mobile Jump Nav -->
    <div class="col-md-10 d-lg-none offset-md-1 mt-5 pl-md-0">
        <div class="dropdown d-lg-none mt-md-5">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Jump to Section
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <a class="dropdown-item" href="#!">Action</a>
            <a class="dropdown-item" href="#!">Another action</a>
          </div>
        </div>
    </div>

    <!-- Desktop Jump Nav -->
    <div class="col-lg-3 d-none d-lg-flex align-items-center offset-md-1 mt-8 py-3 pl-lg-7 bg-secondary-3 py-md-5 title">
      <p class="small my-0 secondary-2 bold">{{ jumpNav.title }}</p>
    </div>
    {{# jumpNav.links }}
      <div class="col-lg-2 d-none d-lg-flex align-items-center mt-8 py-3 bg-secondary-3 py-md-5">
        <a href="#{{ linkID }}">{{ copy }}</a>
      </div>
    {{/ jumpNav.links }}
    <div class="col-md-1 d-none d-lg-flex align-items-center mt-8 py-3 bg-secondary-3 py-md-5">&nbsp;</div>

    <!-- Article Body -->
    {{# article.sections }}
      <div class="col-md-3 offset-md-1 mt-8 pl-md-0 article-section">
        <h3 class="secondary-2">{{ title }}</h3>
      </div>

      <!-- Article Image -->
      <div class="col-md-7 mt-8 pr-md-0">
        <img src="{{ imgSrc }}" class="article-img-cont image w-100">
      </div>

      <div class="col-md-3 offset-md-1 mt-7 pl-md-0">

        <!-- If Support Tip -->
        {{# support-tip }}
          <img src="{{ cog }}" alt="Cog" class="d-inline-block">
          <p class="label bold d-inline-block tertiary-2">{{ tip-title }}</p>
          <p class="small w-75">{{ tip }}</p>
        {{/ support-tip }}

        <!-- If Pull Quote -->
        {{# pull-quote }}
          <img src="{{ lsquo }}" alt="quote" >
          <p class="label bold tertiary-2 w-75 my-3">{{ quote }}</p>
          <div class="small-rule w-75">&nbsp;</div>
          <p class="small mt-3 mb-0">{{ author }},</p>
          <p class="small mb-8">{{ company }}</p>
        {{/ pull-quote }}

      </div>

      <!-- Article Copy -->
      <div class="col-md-7 mt-7 mb-8 pr-0">
        <p class="mb-0">{{ copy }}</p>
      </div>

      <!-- Rule -->
      <div class="col-md-10 offset-md-1 px-md-0 rule-container">
        <div class="w-100 rule">&nbsp;</div>
      </div>
    {{/ article.sections }}

  </div>

</div>

