
<div class="container article mt-3">

  <div class="row">
    <div class="col-md-8 offset-md-1 mt-9">
      <h2>{{ article.title }}</h2>
    </div>
  </div>

  <div class="row jump-nav">

    <!-- Mobile Drop Down Menu -->
    <div class="col-md-10 d-lg-none offset-md-1 mt-5">
        <div class="dropdown d-lg-none mt-md-5">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Jump to Section
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <a class="dropdown-item" href="#!">Action</a>
            <a class="dropdown-item" href="#!">Another action</a>
          </div>
        </div>
    </div>

    <!-- Jump Nav -->
    <div class="col-lg-3 d-none d-lg-block offset-md-1 mt-8 py-3 pl-lg-7 bg-secondary-3 py-md-5 title">
      <p class="small my-0 secondary-1 bold">{{ jumpNav.title }}</p>
    </div>
    {{# jumpNav.links }}
      <div class="col-lg-2 d-none d-lg-block mt-8 py-3 bg-secondary-3 py-md-5">
        <a href="#{{ linkID }}">{{ copy }}</a>
      </div>
    {{/ jumpNav.links }}
    <div class="col-md-1 d-none d-lg-block mt-8 py-3 bg-secondary-3 py-md-5">&nbsp;</div>

    <!-- Article -->
    {{# article.sections }}
      <div class="col-md-3 offset-md-1 mt-8">
        <h3 class="secondary-2">{{ title }}</h3>
      </div>
      <div class="col-md-7 mt-8 pr-0">
        <img src="{{ imgSrc }}" class="article-img-cont image w-100">
      </div>
      <div class="col-md-3 offset-md-1 mt-7">
        <p class="small">{{ quote }}</p>
      </div>
      <div class="col-md-7 mt-7 mb-8 pr-0">
        <p class="mb-0">{{ copy }}</p>
      </div>
      <div class="col-md-10 offset-md-1 rule bg-secondary-1">
        &nbsp;
      </div>
    {{/ article.sections }}

  </div>

</div>

{{> Modules-MX-Grid-Tester }}
