
<div class="container">
  <h1 class="mt-5 text-center">Brand Colors</h1>
  <div class="row text-center">

    <div class="col-md-2 offset-md-3 mt-4 d-flex flex-column align-content-center">
      <label>Primary 1<br><code>$primary1</code></label>
      <div class="color-box bg-primary-1">
        <div class="content"></div>
      </div>
    </div>
    <div class="col-md-2 mt-4">
      <label>Primary 2<br><code>$primary2</code></label>
      <div class="color-box bg-primary-2" style="border: 1px solid lightgray" ></div>
    </div>
    <div class="col-md-2 mt-4">
      <label>Primary 3<br><code>$primary3</code></label>
      <div class="color-box bg-primary-3" ></div>
    </div>
  </div>
</div>

<br />

<div class="container">
  <div class="row text-center">
    <div class="col-md-2 offset-md-1 mt-4">
      <label>Secondary 1<br><code>$secondary1</code></label>
      <div class="color-box bg-secondary-1"></div>
    </div>
    <div class="col-md-2 mt-4">
      <label>Secondary 2<br><code>$secondary2</code></label>
      <div class="color-box bg-secondary-2"></div>
    </div>
    <div class="col-md-2 mt-4">
      <label>Secondary 3<br><code>$secondary3</code></label>
      <div class="color-box bg-secondary-3"></div>
    </div>
    <div class="col-md-2 mt-4">
      <label>Secondary 4<br><code>$secondary4</code></label>
      <div class="color-box bg-secondary-4"></div>
    </div>
    <div class="col-md-2 mt-4">
      <label>Secondary 5<br><code>$secondary5</code></label>
      <div class="color-box bg-secondary-5"></div>
    </div>
  </div>
</div>

<br />

<div class="container">
  <div class="row text-center">
    <div class="col-md-2 offset-md-4 mt-4">
      <label>Tertiary 1<br><code>$tertiary1</code></label>
      <div class="color-box bg-tertiary-1"></div>
    </div>
    <div class="col-md-2 mt-4">
      <label>Tertiary 2<br><code>$tertiary2</code></label>
      <div class="color-box bg-tertiary-2"></div>
    </div>
  </div>
</div>

<br />

<div class="container">
  <div class="row text-center">
    <div class="col-md-2 mt-4">
      <label>Gray Dark<br><code>$gray-dark</code></label>
      <div class="color-box bg-gray"></div>
    </div>
    <div class="col-md-2 mt-4">
      <label>Gray<br><code>$gray</code></label>
      <div class="color-box bg-gray"></div>
    </div>
    <div class="col-md-2 mt-4">
      <label>Gray Medium<br><code>$gray-medium</code></label>
      <div class="color-box bg-gray-medium"></div>
    </div>
    <div class="col-md-2 mt-4">
      <label>Gray Light<br><code>$gray-light</code></label>
      <div class="color-box bg-gray-light"></div>
    </div>
    <div class="col-md-2 mt-4">
      <label>Gray Lightest<br><code>$gray-lightest</code></label>
      <div class="color-box bg-gray-lightest"></div>
    </div>
    <div class="col-md-2 mt-4">
      <label>Gray Purple<br><code>$gray-lightest</code></label>
      <div class="color-box bg-gray-lightest"></div>
    </div>
  </div>
</div>

<br /><br />
