
<div class="wrapper">

  {{> Modules-M02-Navigation-Side }}

  <!-- Page Content  -->
  <section id="content" class="pb-8">

    {{> Modules-M35-Navigation-Top }}

    {{> Modules-M03a-Header-Simple }}

  </section>

  <!-- Dark Overlay  -->
  <div class="overlay"></div>

</div>
