<div class="wrapper">

  {{> Modules-M2-Navigation }}

  <!-- Page Content  -->
  <div class="container-fluid" id="content">
    {{> Modules-M-Menu-Trigger }}
    {{> Modules-M4-Greeting }}
  </div>

</div>
