<div class="wrapper">

  {{> Modules-M2-Navigation-Side }}

  <!-- Page Content  -->
  <section id="content" class="pb-8">

    {{> Modules-M35-Navigation-Top }}
    {{> Modules-MX-Grid-Tester }}
    {{> Modules-M4-Greeting }}

  </section>

  <!-- Dark Overlay  -->
  <div class="overlay"></div>

</div>
