<!-- Modals -->
{{# home.modals }}
  {{> Modules-M24-Modals-Customer }}
{{/ home.modals }}

<div class="wrapper">

  {{> Modules-M2-Navigation-Side }}

  <!-- Page Content  -->
  <section id="content" class="pb-8">

    {{> Modules-M35-Navigation-Top }}

    {{> Modules-M4-Greeting }}

    {{> Modules-14-Data-Chart }}

    {{> Modules-16-Data-Sales }}

  </section>

  <!-- Dark Overlay  -->
  <div class="overlay"></div>

</div>
