
<!-- Modals -->
{{# customer.modals }}
  {{> Modules-M24-Modals-Customer }}
{{/ customer.modals }}


<div class="wrapper">

  {{> Modules-M2-Navigation-Side }}

  <!-- Page Content  -->
  <section id="content" class="pb-8">

    {{> Modules-M35-Navigation-Top }}
    {{> Modules-M3b-Header-Breadcrumb }}
    {{> Modules-M12-Customer-Profile }}

  </section>

  <!-- Dark Overlay  -->
  <div class="overlay"></div>

</div>
