<div class="wrapper">

  {{> Modules-M2-Navigation }}

  <!-- Page Content  -->
  <section id="content">

    <nav class="navbar navbar-expand-lg bg-secondary d-lg-none hamburger-menu">
      <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="">
          <img src="../../images/icons/nav/hamburger-nav.svg" alt="Homepage Icon" class="sidebar-icon mr-2 default">
        </button>
      </div>
    </nav>

    <!-- {{> Modules-MX-Grid-Tester }} -->
    {{> Modules-M3b-Header-Breadcrumb }}
    {{> Modules-M6-Search }}
    <!-- {{> Modules-MX-Grid-Tester }} -->
    {{> Modules-M8-Article }}
    {{> Modules-M9-Chat-Launch }}
  </section>

</div>
