
.btn {
  text-transform: uppercase;
  font-size: .75rem;
  letter-spacing: 1px;
  color: $primary-3;
  background-color: $secondary-4;
  &:hover, &:focus {
    background-color: $secondary-5;
    color: $primary-3;
  }
  &.btn-outline {
    color: $secondary-4;
    background-color: $primary-3;
    border: 2px solid $secondary-4;
    box-shadow: none;
    &:hover, &:focus {
      color: $primary-3;
      background-color: $secondary-4;
    }
  }
  &.btn-outline-light {
    color: $primary-3;
    background-color: $primary-2;
    border: 2px solid $primary-3;
    box-shadow: none;
    &:hover, &:focus {
      color: $primary-3;
      background-color: $tertiary-3;
    }
  }
  &.btn-outline-white {
    color: $primary-2;
    background-color: $primary-3;
    border: 2px solid $primary-3;
    box-shadow: none;
    &:hover, &:focus {
      color: $primary-3;
      background-color: $tertiary-3;
    }
  }
  &.submit-login {
    &:hover, &:focus {
      background-color: $tertiary-1;
    }
  }
}
