
.dropdown {
  width: 100%;
  @include media-breakpoint-up(md) {
    width: 55%;
  }
  .dropdown-toggle {
    padding: 8px 16px;
    color: $primary-1;
    border: 1px solid $dropdown-border-color;
    border-radius: 4px;
    &:after {
      display: none;
    }
    .arrow-down {
      position: absolute;
      top: 16px;
      right: 16px;
      right: 18px;
    }
  }
}
