.form-control {
  &.search-input {
    background: $white;
    border-radius: 2px;
    border: $input-border-width solid $input-focus-border-color;
  }

  ~ .magnifier-button {
    cursor: pointer;
    border: $input-border-width solid $input-focus-border-color;
    .input-group-text {
      border: 0;
    }
  }

  &:focus {
    &::placeholder {
      color: $gray-dark;
      transition: $transition-base;
    }

    & ~ .magnifier-button {
      .input-group-text {
        background: $secondary-4;
        transition: $transition-base;
        #icon {
          fill: $primary-3;
        }
      }
    }
  }
}

.was-validated .form-control:valid,
.form-control.is-valid {
  border-color: $gray-border;
  background-image: none;
  &:focus {
    border-color: $gray-border;
  }
}

.custom-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 100%;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15px' height='9px' viewBox='0 0 15 9' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3ctitle%3eLine 3%3c/title%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cdefs%3e%3c/defs%3e%3cg id='Layout' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='square'%3e%3cg id='M24_Customer-Modal%402x' transform='translate(-753.000000, -1120.000000)' fill-rule='nonzero' stroke='%23372772' stroke-width='2'%3e%3cg id='Set-up-Billing-Plan' transform='translate(333.000000, 946.000000)'%3e%3cg id='Due' transform='translate(287.000000, 140.000000)'%3e%3cpolyline id='Line-3' points='135 36 140.562439 41 146 36'%3e%3c/polyline%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
  background-position: 92% center;
  background-size: 15px;
  background-repeat: no-repeat;
  &:focus {
    background-color: $primary-3;
    border-color: $gray-border;
  }
}

.was-validated .custom-select:invalid,
.custom-select.is-invalid {
  width: 100%;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15px' height='9px' viewBox='0 0 15 9' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3ctitle%3eLine 3%3c/title%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cdefs%3e%3c/defs%3e%3cg id='Layout' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='square'%3e%3cg id='M24_Customer-Modal%402x' transform='translate(-753.000000, -1120.000000)' fill-rule='nonzero' stroke='%23372772' stroke-width='2'%3e%3cg id='Set-up-Billing-Plan' transform='translate(333.000000, 946.000000)'%3e%3cg id='Due' transform='translate(287.000000, 140.000000)'%3e%3cpolyline id='Line-3' points='135 36 140.562439 41 146 36'%3e%3c/polyline%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
  background-position: 92% center;
  background-size: 15px;
  background-repeat: no-repeat;
}

.was-validated .custom-select:valid,
.custom-select.is-valid {
  width: 100%;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15px' height='9px' viewBox='0 0 15 9' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3ctitle%3eLine 3%3c/title%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cdefs%3e%3c/defs%3e%3cg id='Layout' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='square'%3e%3cg id='M24_Customer-Modal%402x' transform='translate(-753.000000, -1120.000000)' fill-rule='nonzero' stroke='%23372772' stroke-width='2'%3e%3cg id='Set-up-Billing-Plan' transform='translate(333.000000, 946.000000)'%3e%3cg id='Due' transform='translate(287.000000, 140.000000)'%3e%3cpolyline id='Line-3' points='135 36 140.562439 41 146 36'%3e%3c/polyline%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
  background-position: 92% center;
  background-size: 15px;
  background-repeat: no-repeat;
}

.custom-date {
  width: 100%;
  border-radius: 2px;
  border: $input-border-width solid $input-focus-border-color;
  background-position: 92% center;
  background-size: 15px;
  background-repeat: no-repeat;
  &:focus {
    background-color: $primary-3;
    border-color: $gray-border;
  }
}

.custom-checkbox {
  label {
    text-transform: none;
    letter-spacing: 0;
    padding-top: 3px;
  }
  .custom-control-label:before {
    background-color: $white;
    border: 1px solid $gray-border;
    border-radius: 2px;
  }
  .custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    border: 1px solid $gray-border;
  }
  .custom-control-input:not(:disabled):hover ~ .custom-control-label::before {
    background-color: $gray-light;
  }
  .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 10 7' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 52.4 (67378) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3EShape%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Desktop-Components-/State/Checkbox/checked---focus' transform='translate(-5.000000, -7.000000)' fill='%230071CE'%3E%3Cpath d='M5.09394572,10.5177453 C4.96868476,10.3924843 4.96868476,10.1837161 5.09394572,10.0584551 L5.55323591,9.59916493 C5.67849687,9.47390397 5.88726514,9.47390397 6.0125261,9.59916493 L8.60125261,12.2087683 C8.68475992,12.2922756 8.8308977,12.2922756 8.91440501,12.2087683 L13.9874739,7.09394572 C14.1127349,6.96868476 14.3215031,6.96868476 14.4467641,7.09394572 L14.9060543,7.55323591 C15.0313152,7.67849687 15.0313152,7.88726514 14.9060543,8.0125261 L8.99791232,13.9832985 C8.87265136,14.1294363 8.66388309,14.1294363 8.53862213,13.9832985 L5.09394572,10.5177453 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    border: 1px solid $gray-border;
    background-color: $white;
    background-size: 75% 75%;
  }
  .custom-control-input:checked:hover ~ .custom-control-label::after {
    background-color: $gray-lightest;
  }
  .custom-control-input:valid ~ .custom-control-label {
    color: $primary-1;
  }
  .custom-control-input:valid ~ .custom-control-label::before,
  .custom-control-input.is-valid ~ .custom-control-label::before {
    border-color: $gray-border;
  }
}

.ui-datepicker-trigger {
  border: $input-border-width solid $input-focus-border-color;
  border-left: 0;
  width: 50px;
  cursor: pointer;
  &:focus {
    outline: 0;
    background-color: $secondary-4;
  }
}

.calendar-button {
  cursor: pointer;
  border: $input-border-width solid $input-focus-border-color;
  .input-group-text {
    background: $primary-3;
    border: 0;
  }
}
