<div class="row mt-4 order-3">
  <div class="col-md-12 px-lg-0">
    <table id="sales-table" class="display nowrap">
      <thead class="bg-secondary-1 primary-3 label uppercase">
        <tr>
            <th>Seq.</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Recipient</th>
            <th>Payment Method</th>
            <th>Card Type</th>
            <th>Status</th>
            <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>1</td>
            <td>$2,750</td>
            <td>Jan 28, 2019</td>
            <td>Charles the Schlarles</td>
            <td>Virtual Terminal</td>
            <td>Visa</a></td>
            <td>Processing</td>
            <td><a class="d-inline-block icon-delete"><img src="../../images/icons/close-gray.svg"></a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>$2,750</td>
            <td>Jan 28, 2019</td>
            <td>Jon the Mon</td>
            <td>Virtual Terminal</td>
            <td>Mastercard</a></td>
            <td>Processing</td>
            <td><a class="d-inline-block icon-delete"><img src="../../images/icons/close-gray.svg"></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

