<div class="table-wrap py-4">
  <table id="invoice-edit-table" class="display nowrap">
    <thead class="bg-secondary-1 primary-3 label uppercase">
      <tr>
          <th>Seq.</th>
          <th>Item Name</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td>1</td>
          <td><input type="text" class="w-100 bg-gray-light p-3" placeholder="Enter Item Name"></td>
          <td><input type="text" class="w-100 bg-gray-light p-3" ></td>
          <td><input type="text" class="w-100 bg-gray-light p-3" ></td>
          <td><input type="text" class="w-100 bg-gray-light p-3" ></td>
          <td><a class="d-inline-block icon-delete"><img src="../../images/icons/close-gray.svg"></a></td>
          <td><a class="d-inline-block handle-reorder"><img src="../../images/icons/handle-reorder.svg"></a></td>
      </tr>
      <tr>
          <td>2</td>
          <td><input type="text" class="w-100 bg-gray-light p-3" placeholder="Enter Item Name"></td>
          <td><input type="text" class="w-100 bg-gray-light p-3" ></td>
          <td><input type="text" class="w-100 bg-gray-light p-3" ></td>
          <td><input type="text" class="w-100 bg-gray-light p-3" ></td>
          <td><a class="d-inline-block icon-delete"><img src="../../images/icons/close-gray.svg"></a></td>
          <td><a class="d-inline-block handle-reorder"><img src="../../images/icons/handle-reorder.svg"></a></td>
      </tr>
    </tbody>
  </table>
</div>
