
<div class="row billing-plan">
  <div class="col-md-10 offset-md-1">
    <a href="#" class="edit secondary-4 small bold" data-toggle="modal" data-target="#customerEditBilling" data-backdrop="false"><span class="d-inline-block icon-pencil"></span>&nbsp;Edit</a>
    <h2 class="secondary-6 mt-8">{{ customer.heading-billing }}</h2>
  </div>
  <div class="col-md-5 offset-md-1 mt-7">

    <div class="bg-secondary-3 amount-due">
      <div class="row h-100">
        <div class="col-4">
          <div class="h-100 d-flex align-items-center left-border">
            <label class="mb-0 ml-5 ml-md-7">Amount Due</label>
          </div>
        </div>
        <div class="col-8">
          <div class="h-100 d-flex align-items-center justify-content-center">
            <p class="display2 mb-0">$2,049.79</p>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
