<div class="container cp-heading mt-8">
  <div class="row py-6">
    <div class="col-md-10 offset-md-1">
      <div class="">
        <a href="javascript:void(0);" data-target="#customerMenu" class="display2 primary-3 d-flex align-items-center mb-3" data-toggle="collapse" aria-expanded="false">{{ customer.firstName }}&nbsp;{{ customer.lastName }} <span class="d-inline-block caret ml-2">&nbsp;</span></a>
        <ul class="collapse list-unstyled mb-0" id="customerMenu">
          <li class="py-1">
            <a href="#" data-toggle="modal" data-target="#exampleModalLong" data-backdrop="false" class="mt-2">Create New Customer</a>
          </li>
          <li class="py-1">
            <a href="#" data-toggle="modal" data-target="#exampleModalLong" data-backdrop="false">Action Link Number Two</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
