
<div class="form-row">
  <div class="form-group col-md-12 mb-3">
    <label for="validationCustom01" class="primary-2">Customer Name</label>
    <input type="text" class="form-control" id="validationCustom01" aria-describedby="validationCustom01" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="form-group col-md-12 mb-3">
    <label for="validationCustom02" class="primary-2">Company</label>
    <input type="text" class="form-control" id="validationCustom02" aria-describedby="validationCustom02" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="form-group col-md-12 mb-3">
    <label for="exampleInputEmail1" class="primary-2">Email address</label>
    <input type="email" class="form-control w-100" id="exampleInputEmail1" aria-describedby="exampleInputEmail1">
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="form-group col-md-12 mb-3">
    <label for="exampleInputPhone1" class="primary-2">Email address</label>
    <input type="tel" class="form-control w-100" id="exampleInputPhone1" aria-describedby="exampleInputPhone1">
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
</div>
