<div class="form-row">
  <div class="form-group col-md-7 col-lg-8 col-xl-7 mb-5">
    <label for="validationCustom01" class="primary-2">Card Number 1</label>
    <input type="text" class="form-control d-inline-block creditCard" id="validationCustom01"
      aria-describedby="validationCustom01" value="{{ pre-pop-card }}" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="form-group col-md-4">
    <img class="d-inline-block card-images" src="{{ card-thumb }}">
  </div>
  <div class="form-group col-md-3 mb-5 align-self-end">
    <label for="validationCustom02" class="primary-2">Exp. Date</label>
    <input type="text" class="form-control exp-date" id="validationCustom02" aria-describedby="validationCustom02"
      value="{{ pre-pop-exp }}" placeholder="MM/YYYY" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="form-group col-md-3 mb-5 align-self-end">
    <label for="exampleInputEmail1" class="primary-2">CVV</label>
    <input type="email" class="form-control w-100" id="exampleInputEmail1" aria-describedby="exampleInputEmail1"
      value="{{ pre-pop-code }}" required>
    <div class="invalid-feedback">
      Secret code?
    </div>
  </div>
  <div class="form-group col-md-10 mb-5">
    <label for="exampleInputPhone1" class="primary-2">Billing Address</label>
    <input type="tel" class="form-control w-100" id="exampleInputPhone1" aria-describedby="exampleInputPhone1"
      value="{{ pre-pop-addr }}">
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="form-group col-md-8 mb-5">
    <label for="validationCustom03" class="primary-2">City</label>
    <input type="text" class="form-control" id="validationCustom03" value="{{ pre-pop-city }}" required>
    <div class="invalid-feedback">
      Please provide a valid city.
    </div>
  </div>
  <div class="form-group col-md-4 mb-5">
    <label for="validationCustom05" class="primary-2">Zip</label>
    <input type="text" class="form-control" id="validationCustom05" value="{{ pre-pop-zip }}" required>
    <div class="invalid-feedback">
      Please provide a valid zip.
    </div>
  </div>
</div>
