<div class="row py-6 py-md-8">
  <div class="col-md-4 offset-md-1 pb-4">
    <h2 class="secondary-6">{{ heading }}</h2>
  </div>
  <div class="col-md-5">
    {{# profile-info }}
    {{> Components-C30-Fields-Profile-Info }}
    {{/ profile-info }}
    {{# set-up-billing }}
    {{> Components-C32-Fields-Set-Up-Billing }}
    {{/ set-up-billing }}
  </div>
</div>
<!-- I Rule -->
<div class="row">
  <div class="col-md-10 offset-md-1">
    <div class="w-100 rule">&nbsp;</div>
  </div>
</div>
