<div class="row pt-6 pt-md-8">
  <div class="col-md-10 offset-md-1 pb-4">
    <h2 class="secondary-6 mb-6 mb-md-8">{{ heading }}</h2>

    <table id="invoice-edit-table" class="mb-0 display nowrap">
      <thead class="bg-primary-2 primary-3">
          <tr>
              <th>Seq.</th>
              <th>Item Name</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Total</th>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>1</td>
              <td><input type="text" class="w-100 bg-gray-light p-3" placeholder="Enter Item Name"></td>
              <td><input type="text" class="w-100 bg-gray-light p-3" ></td>
              <td><input type="text" class="w-100 bg-gray-light p-3" ></td>
              <td><input type="text" class="w-100 bg-gray-light p-3" ></td>
              <td><a href="javascript:void(0)" class="d-inline-block icon-delete"><img src="../../images/icons/close-gray.svg"></a></td>
              <td><a href="javascript:void(0)" class="d-inline-block handle-reorder"><img src="../../images/icons/handle-reorder.svg"></a></td>
          </tr>
          <tr>
              <td>2</td>
              <td><input type="text" class="w-100 bg-gray-light p-3" placeholder="Enter Item Name"></td>
              <td><input type="text" class="w-100 bg-gray-light p-3" ></td>
              <td><input type="text" class="w-100 bg-gray-light p-3" ></td>
              <td><input type="text" class="w-100 bg-gray-light p-3" ></td>
              <td><a href="javascript:void(0)" class="d-inline-block icon-delete"><img src="../../images/icons/close-gray.svg"></a></td>
              <td><a href="javascript:void(0)" class="d-inline-block handle-reorder"><img src="../../images/icons/handle-reorder.svg"></a></td>
          </tr>
      </tbody>
    </table>
    <a href="#" class="small bold d-inline-block mt-3 add-additional">+ Add additional line</a>
  </div>
</div>

<div class="row pb-6">
  <div class="col-md-6 offset-md-1 pb-4">
    &nbsp;
  </div>
  <div class="col-md-4">
    <div class="row mx-0 px-0">
      <div class="w-100 rule thin-gray">&nbsp;</div>
      <div class="col-4 d-flex align-items-center">
        <p class="label my-3">Discount</p>
      </div>
      <div class="col-6 d-flex align-items-center">
        <p class="gray my-3">XX%</p>
      </div>
      <div class="w-100 rule thin-gray">&nbsp;</div>
    </div>
    <div class="row mx-0 px-0">
      <div class="col-4 d-flex align-items-center">
        <p class="label my-3">Subtotal</p>
      </div>
      <div class="col-6 d-flex align-items-center">
        <p class="gray my-3">$00.00</p>
      </div>
    </div>
    <div class="row mx-0 px-0">
      <div class="col-4 d-flex align-items-center">
        <p class="label my-3">Tax</p>
      </div>
      <div class="col-6 d-flex align-items-center">
        <p class="gray my-3">$00.00</p>
      </div>
    </div>
    <div class="row mx-0 px-0">
      <div class="col-4 d-flex align-items-center">
        <p class="label my-3">Total</p>
      </div>
      <div class="col-6 d-flex align-items-center">
        <p class="gray my-3">$00.00</p>
      </div>
    </div>
  </div>
</div>

<!-- I Rule -->
<div class="row">
  <div class="col-md-10 offset-md-1">
    <div class="w-100 rule">&nbsp;</div>
  </div>
</div>
