<div class="container article mt-3">
  <div class="row">
    <div class="col-md-8 offset-md-1 mt-9">
      <h2>{{ article.title }}</h2>
    </div>

    <div class="col-md-10 d-lg-none offset-md-1 mt-5">
        <div class="dropdown d-lg-none mt-md-5">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Jump to Section
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <a class="dropdown-item" href="#!">Action</a>
            <a class="dropdown-item" href="#!">Another action</a>
          </div>
        </div>
    </div>

    <div class="col-md-10 d-none d-lg-block offset-md-1 mt-8">

      {{> Modules-MX-Grid-Tester }}
      <br><br>

      <div class="jump-nav py-7">

        <div class="row">
          <div class="col-md-5">
            <p class="small primary-2 medium my-0 title">{{ jumpNav.title }}</p>
          </div>
          {{# jumpNav.links }}
          <div class="col-md-2">
            <a href="#{{ linkID }}">{{ copy }}</a>
          </div>
          {{/ jumpNav.links }}
        </div>
      </div>
    </div>

  </div>
</div>
