<div class="container d-flex flex-column flex-md-column-reverse">
  <div class="row mt-7 mt-md-2">
    <div class="col-md-12 pl-0">
      <h1 class="display3 text-secondary">Good Morning, Jon! It’s been a productive day.</h1>
    </div>
  </div>
  <div class="row mt-8">
    <div class="col-md-12 d-flex flex-column flex-md-row align-items-center px-0">
      <div class="ml-auto d-md-flex justify-content-between justify-content-sm-end w-100 text-center mb-4">
        <button type="button" class="btn mx-1 mb-4 mb-sm-0" data-toggle="modal" data-target="#newSale"
          data-backdrop="false">Run New
          Sale</button>
        <div class="w-100 d-sm-none"></div>
        <button type="button" class="btn mx-1 btn-outline" data-toggle="modal" data-target="#customerCreateInvoice"
          data-backdrop="false">Create Invoice</button>
      </div>
    </div>
  </div>
</div>
