{{> Modules-MX-Grid-Tester }}
<div class="container customer mt-3">



  <div class="row cp-heading bg-primary-2">
    <div class="col-md-10 offset-md-1 py-5">
      <h1 class="primary-3">Jonathon Westbrook{{ customer.first-name }}&nbsp;{{ customer.last-name }}</h1>
    </div>
  </div>

  <div class="row cp-heading">



  </div>

</div>
