{{> Modules-MX-Grid-Tester }}

<div class="container customer mt-3 pb-8">

  <div class="row cp-heading bg-primary-2">
    <div class="col-md-10 offset-md-1 py-5">
      <h1 class="primary-3">Jonathon Westbrook{{ customer.first-name }}&nbsp;{{ customer.last-name }}</h1>
    </div>
  </div>

  {{> Components-C20-Customer-Profile }}
  {{> Components-C21-Customer-Card-On-File }}
  {{> Components-C22-Customer-Billing-Plan }}
  {{> Components-C22-Customer-Billing-Plan }}

  <!-- Should be in C20 -->
  <div class="row  mt-8">
    <div class="col-md-10 offset-md-1 py-5 bg-tertiary-3">
    </div>
  </div>

  <!-- Should be in C21 -->
  <div class="row mt-8">
    <div class="col-md-10 offset-md-1 py-5 bg-tertiary-3">
    </div>
  </div>

</div>
