<div class="container carousel-home-cont px-0 my-8">
  <div id="carousel-home" class="carousel slide carousel-fade px-0" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-home" data-slide-to="1"></li>
    </ol>

    <div class="carousel-inner">

      <div class="carousel-item active">
        <div class="row">
          <div class="col-sm-6 pr-sm-0 primary-3 d-flex justify-content-center">
            <div class="copy-wrap my-9 m-8 ml-sm-9 mr-sm-0">
              <p class="display6 medium uppercase mb-3">MAKE YOUR FIRST SALE</p>
              <p class="display3">Run a sale seamlessly with Virtual Terminal.</p>
              <button type="button" class="btn btn-dark-outline my-3">Start a Sale with Virtual Terminal</button>
            </div>
          </div>
          <div class="col-sm-6 pl-sm-0 primary-3 d-none d-sm-flex justify-content-center">
            <img src="../../images/line-drawing-1.svg" class="d-block">
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="row">
          <div class="col-sm-6 pr-sm-0 primary-3 d-flex justify-content-center">
            <div class="copy-wrap my-9 m-8 ml-sm-9 mr-sm-0">
              <p class="display6 medium uppercase mb-3">MANAGE YOUR TRANSACTIONS</p>
              <p class="display3">View, search and download your sales and deposit reports.</p>
              <button type="button" class="btn btn-dark-outline my-3">View Sales Report</button>
            </div>
          </div>
          <div class="col-sm-6 pl-sm-0 primary-3 d-none d-sm-flex justify-content-center">
            <img src="../../images/line-drawing-2.svg" class="d-block">
          </div>
        </div>
      </div>

      <a class="carousel-control-prev" href="javascript:;" data-target="#carousel-home" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="javascript:;" data-target="#carousel-home" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
  </div>
</div>
