<div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="{{ heading-page }}" aria-hidden="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header py-0 px-md-0">
        <!-- Mobile Header -->
        <div class="container h-100 d-md-none pl-0">
          <div class="row h-100">
            <div class="col-12 px-0 d-flex align-items-center">
              <h1 class="primary-3">{{ heading-page }}</h1>
              <div class="ellipse-button">
                <div>
                  <a href="javascript:void(0);" class="mobile-ellipse-trigger display2 primary-3 d-flex align-items-center" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" ><span class="d-inline-block caret ml-2">&nbsp;</span></a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    {{# menu-mobile }}
                    <a href="{{ url }}" class="{{ classes }}" data-dismiss="{{ data-dismiss }}" aria-label="{{ aria-label }}">{{ btn-copy }}</a>
                    {{/ menu-mobile }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Header image fade with object-fit -->
        <img class="d-none d-md-block header-img h-100 w-100" src="../../images/modal-header.svg" />
        <!-- Desktop Header -->
        <div class="container d-none d-md-block h-100 heading-row w-100">
          <div class="row h-100">
            <div class="col-md-12 heading-col d-flex flex-column flex-md-row align-items-center px-0">
              <h1 class="primary-3 invoice-page-heading">{{ heading-page }}</h1>
              <div class="ml-auto nav nav-pills" role="tablist">
                {{# btns-desktop-top }}
                <button type="button" class="ml-4 {{ classes }}" data-dismiss="{{ data-dismiss }}" data-toggle="{{ data-toggle }}" href="{{ href }}" role="{{ role }}" aria-controls="{{ aria-controls }}" aria-selected="{{ aria-selected }}">{{ btn-copy }}</button>
                {{/ btns-desktop-top }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body pt-0 pb-8 px-0 h-100">
        <div class="container pb-8 mainBox ">
          <div class="tab-content" id="pills-tabContent">
            {{# tab-panes }}
            <div class="tab-pane fade {{ classes }}" id="{{ id }}" role="tab-panel" aria-labelledby="{{ aria-labelledby }}">
              <form class="w-100 needs-validation" novalidate>
                {{# sections }}
                {{# customer-info}}
                {{> Components-C33-Invoice-Info }}
                {{/ customer-info}}
                {{/ sections }}
              </form>
            </div>
            {{/ tab-panes }}
            <div class="row mt-8">
              <div class="col-md-10 offset-md-1 d-flex">
                <div class="ml-auto nav nav-pills" role="tablist">
                  {{# btns-desktop-bottom }}
                  <button type="button" class="ml-4 {{ classes }}" data-dismiss="{{ data-dismiss }}" data-toggle="{{ data-toggle }}" href="{{ href }}" role="{{ role }}" aria-controls="{{ aria-controls }}" aria-selected="{{ aria-selected }}">{{ btn-copy }}</button>
                  {{/ btns-desktop-bottom }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
