<div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="New Customer" aria-hidden="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-header py-0">
        <div class="ellipse-button bg-secondary-3"></div>
        <div class="container d-none d-md-block">
          <div class="row mt-8">
            <div class="col-md-12 d-flex flex-column flex-md-row px-0">
              <h1 class="primary-3">{{ heading-page }}</h1>
              <div class="ml-auto">
                {{# btn-cancel }}
                  <button type="button" class="btn btn-dark-outline" data-dismiss="modal" aria-label="cancel">{{ btn-cancel }}</button>
                {{/ btn-cancel }}
                {{# btn-save }}
                  <button type="button" class="btn btn-dark ml-5" aria-label="save">{{ btn-save }}</button>
                {{/ btn-save }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-body pt-0 pb-8 px-0">
        <div class="container pb-8">
          <form class="w-100 needs-validation" novalidate>

            {{# sections }}
              <div class="row py-6 py-md-8">
                <div class="col-md-4 offset-md-1 pb-4">
                  <h2 class="secondary-6">{{ heading }}</h2>
                </div>
                <div class="col-md-5">

                  {{# profile-info }}
                    {{> Components-C30-Fields-Profile-Info }}
                  {{/ profile-info }}

                  {{# card-on-file }}
                    {{> Components-C31-Fields-Card-On-File }}
                  {{/ card-on-file }}

                  {{# set-up-billing }}
                    {{> Components-C32-Fields-Set-Up-Billing }}
                  {{/ set-up-billing }}

                </div>
              </div>
              <!-- I Rule -->
              <div class="row">
                <div class="col-md-10 offset-md-1"><div class="w-100 rule">&nbsp;</div></div>
              </div>
            {{/ sections }}
              <div class="row mt-8">
                <div class="col-md-10 offset-md-1 d-flex">
                  <div class="ml-auto">
                    {{# btn-cancel }}
                      <button type="button" class="btn btn-outline" data-dismiss="modal" aria-label="cancel">{{ btn-cancel }}</button>
                    {{/ btn-cancel }}
                    {{# btn-save }}
                      <button type="submit" class="btn ml-5" aria-label="save">{{ btn-save }}</button>
                    {{/ btn-save }}
                  </div>
                </div>
              </div>

          </form>
        </div>
      </div>

    </div>
  </div>
</div>



