{{# modal-lightbox }}
<button type="button" class="btn mx-1 mt-9 ml-9" data-toggle="modal" data-target="#{{ id }}" data-backdrop="true">Run
  New
  Sale</button>
<div class="modal fade modal-lightbox" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="{{ heading-page }}"
  aria-hidden="false">

  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body pt-0 pb-8 px-0 h-100">
        <div class="container">

          <div class="row">
            <div class="col-md-10 offset-md-1 mainBox pb-8 px-0">
              <form id="lightboxModal" class="w-100 needs-validation" novalidate>
                {{# sections }}
                {{# lightbox-info }}
                {{> Components-C44-Lightbox-Info }}
                {{/ lightbox-info }}
                {{# lightbox-billing }}
                {{> Components-C45-Lightbox-Billing }}
                {{/ lightbox-billing }}
                <div class="col-12 mt-6">
                  <div class="w-100 rule">&nbsp;</div>
                </div>
                {{/ sections }}
              </form>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 offset-md-1">
              Logo
            </div>
            <div class="col-md-5">
              totals
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/ modal-lightbox }}
