<div class="container-fluid d-flex align-items-start align-items-center justify-content-center">
  <div class="row">
    <div class="col-md-12 main-col d-flex align-items-center justify-content-center px-0 py-sm-8">
      <div class="wrap bg-primary-3 d-flex align-items-center justify-content-center flex-column pb-7">
        <div class="inner-wrap d-flex align-items-center justify-content-center flex-column">
          <img src="{{ logo-dark }}" alt="CardX Logo" class="mt-9">
          <h1 class="display1 mt-8 primary-2 text-center">{{ authentication.heading-new }}</h1>

          <form class="mt-7 needs-validation" novalidate>
            <div class="form-group mb-0">
              <label for="newPassword"  class="primary-2 d-flex">New Password</label>
              <input type="email" class="form-control" id="newPassword" placeholder="Enter new password">
              <div class="invalid-feedback">
                Please enter a valid email address.
              </div>
            </div>

            <div class="form-group mt-5 mb-0">
              <label for="InputPassword1" class="primary-2 d-flex">Confirm Password</label>
              </label>
              <input type="password" class="form-control" id="InputPassword1" placeholder="Confirm new password">
              <div class="invalid-feedback">
                Please enter a valid
              </div>
            </div>

            <button type="submit" class="btn mt-7 submit-login w-100">{{ authentication.submit-reset-pass }}</button>
          </form>

          <p class="mx-auto mt-7"><img src="{{ arrow-back }}">&nbsp;<a href="#" class="small bold">{{ authentication.link-back }}</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>

// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();

</script>
