
<div class="container">

  <div class="row breadcrumbs">
    <div class="col-md-8 mt-3 mt-md-5 small">
      <a href="#">{{ breadcrumbs.parent1 }}</a> / <a href="#">{{ breadcrumbs.parent2 }}</a> / <span>{{ breadcrumbs.currentPage }}</span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mt-3 mt-md-5">
      <h1>{{ currentPage }}</h1>
    </div>
  </div>

</div>
