<div class="container d-flex flex-column flex-lg-column-reverse">
  <div class="row my-5">
    <div class="col-md-12">
      <h1 class="secondary-1">Good Morning, Jon! It’s been a productive day.</h1>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-12 d-flex flex-column flex-md-row align-items-center px-0">
      <div class="ml-auto d-flex justify-content-between justify-content-sm-end w-100">
          <button type="button" class="btn mx-1" >Run New Sale</button>
          <button type="button" class="btn mx-1 btn-outline" data-toggle="modal" data-target="#customerCreateInvoice" data-backdrop="false">Create Invoice</button>
      </div>
    </div>
  </div>
</div>


