<div class="container-fluid px-0 d-flex align-items-center" style="height: 100vh;background-image: url(../../images/bg-authentication.svg); background-color: #281F56; background-repeat: no-repeat; background-attachment: fixed; background-position: right; background-size: cover;">

  <div class="container pb-9">
    <div class="row primary-3">
      <div class="col-md-12 py-3 primary-3">
        <img src="{{ logo }}" alt="CardX Logo" >

        <h1 class="mt-8">Welcome to the CardX modular design system</h1>

        <p class="mt-5">These responsive front-end templates demonstrate an extensive modular design system for CardX. It's comprised of a flexible set of reusable components, each oriented at achieving a specific goal. Built with <a href="https://patternlab.io/" class="tertiary-2">Patternlab</a>.</p>

        <p>These templates and specs are useful to product owners, developers, designers, and writers – everyone who influences CardX content and functionality.</p>

        <p>Please choose a pattern from the menu above, or from the list of completed templates below: </p>
        <ul>
          <li><a href="{{ link.Templates-T1-Authentication }}" class="tertiary-2">Template: T1-Authentication</a></li>
          <li><a href="{{ link.Templates-T8-Article }}" class="tertiary-2">Template: T8-Article</a></li>
          <li><a href="{{ link.Templates-T7-Customer-Profile }}" class="tertiary-2">Template: T7-Customer-Profile</a></li>
        </ul>
      </div>
    </div>
  </div>

</div>
