<div class="container-fluid px-0 d-flex align-items-center" style="height: 170px;background-image: url(../../images/bg-authentication.svg); background-color: #281F56; background-repeat: no-repeat; background-attachment: fixed; background-position: right; background-size: cover;">

  <div class="container">
    <div class="row primary-3">
      <div class="col-md-12 py-3 primary-3">
        <img src="{{ logo }}" alt="CardX Logo" >
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1 class="mt-8 primary-2">Welcome to the CardX modular design system</h1>
      <p class="mt-5">These responsive front-end templates demonstrate an extensive modular design system for CardX. It's comprised of a flexible set of reusable components, each oriented at achieving a specific goal. Built with <a href="https://patternlab.io/" class="tertiary-2" target="_blank">Patternlab</a>.</p>
      <p>These templates and specs are useful to product owners, developers, designers, and writers – everyone who influences CardX content and functionality.</p>
    </div>
  </div>
</div>

<div class="container pb-9">
  <div class="row">
    <div class="col-md-7">
      <div class="bg-gray-purple p-7">
        <p class="label">Please choose a pattern from the links below:</p>
        <div class="row">
          <div class="col-md-6">
            <a href="{{ link.Templates-T1-Authentication }}" class="bold mt-3 d-block">T1-Authentication</a>
            <a href="{{ link.Templates-T8-Article }}" class="bold d-block mt-3">T8-Article</a>
            <a href="{{ link.Templates-T7-Customer-Profile }}" class="bold d-block mt-3">T7-Customer-Profile</a>
          </div>
          <div class="col-md-6">
            <a href="{{ link.Templates-T0-Patternlab-Splash }}" class="bold mt-3 d-block mt-3">T0-Lorem Ipsum</a>
            <a href="{{ link.Templates-T0-Patternlab-Splash }}" class="bold d-block mt-3">T0-Lorem Ipsum</a>
            <a href="{{ link.Templates-T0-Patternlab-Splash }}" class="bold d-block mt-3">T0-Lorem Ipsum</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
