
<div class="container">
  <div class="row mt-md-3">
    <div class="col p-3 d-flex justify-content-center">
      <button class="btn btn-info"><strong>Transition:</strong> all 0.2s ease-in-out;</button>
    </div>
  </div>
  <div class="row mt-md-3">
    <div class="col p-3 d-flex justify-content-center">
      <button type="button" class="btn btn-outline-info"><strong>Transition:</strong> all 0.2s ease-in-out;</button>
    </div>
  </div>
</div>
