<div class="container">
  <h1 class="mt-5 text-left">Brand Colors</h1>

  <div class="row text-center">
    <div class="col-md-2 mt-4 px-0 d-flex flex-column align-content-left">
      <label class="mb-0">Primary 1</label>
      <code>$primary-1</code>
      <label>#404144</label>
      <div class="color-box bg-primary-1">
        <div class="content"></div>
      </div>
    </div>
    <div class="col-md-2 mt-4 px-0 d-flex flex-column align-content-left">
      <label class="mb-0">Primary 2</label>
      <code>$primary-2</code>
      <label>#372772;</label>
      <div class="color-box bg-primary-2">
        <div class="content"></div>
      </div>
    </div>
    <div class="col-md-2 mt-4 px-0 d-flex flex-column align-content-left">
      <label class="mb-0">Primary 3</label>
      <code>$primary-3</code>
      <label>#FFF</label>
      <div class="color-box bg-primary-3">
        <div class="content"></div>
      </div>
    </div>
  </div>

  <div class="row text-center mt-7">
    <div class="col-md-2 mt-4 px-0 d-flex flex-column align-content-left">
      <label class="mb-0">Secondary 1</label>
      <code>$secondary-1</code>
      <label>#4F3D93</label>
      <div class="color-box bg-secondary-1">
        <div class="content"></div>
      </div>
    </div>
    <div class="col-md-2 mt-4 px-0 d-flex flex-column align-content-left">
      <label class="mb-0">Secondary 2</label>
      <code>$secondary-2</code>
      <label>#7A67A8</label>
      <div class="color-box bg-secondary-2">
        <div class="content"></div>
      </div>
    </div>
    <div class="col-md-2 mt-4 px-0 d-flex flex-column align-content-left">
      <label class="mb-0">Secondary 3</label>
      <code>$secondary-3</code>
      <label>#D3CDE3</label>
      <div class="color-box bg-secondary-3">
        <div class="content"></div>
      </div>
    </div>
    <div class="col-md-2 mt-4 px-0 d-flex flex-column align-content-left">
      <label class="mb-0">Secondary 4</label>
      <code>$secondary-4</code>
      <label>#0071CE</label>
      <div class="color-box bg-secondary-4">
        <div class="content"></div>
      </div>
    </div>
    <div class="col-md-2 mt-4 px-0 d-flex flex-column align-content-left">
      <label class="mb-0">Secondary 5</label>
      <code>$secondary-5</code>
      <label>#003967</label>
      <div class="color-box bg-secondary-5">
        <div class="content"></div>
      </div>
    </div>
    <div class="col-md-2 mt-4 px-0 d-flex flex-column align-content-left">
      <label class="mb-0">Secondary 6</label>
      <code>$secondary-6</code>
      <label>#7259CB</label>
      <div class="color-box bg-secondary-6">
        <div class="content"></div>
      </div>
    </div>
    <div class="col-md-2 mt-4 px-0 d-flex flex-column align-content-left">
      <label class="mb-0">Secondary 7</label>
      <code>$secondary-7</code>
      <label>#F3E9F2</label>
      <div class="color-box bg-secondary-7">
        <div class="content"></div>
      </div>
    </div>
  </div>

  <div class="row text-center mt-7">
    <div class="col-md-2 mt-4 px-0 d-flex flex-column align-content-left">
      <label class="mb-0">Tertiary 1</label>
      <code>$tertiary-1</code>
      <label>#8C2A84</label>
      <div class="color-box bg-tertiary-1">
        <div class="content"></div>
      </div>
    </div>
    <div class="col-md-2 mt-4 px-0 d-flex flex-column align-content-left">
      <label class="mb-0">Tertiary 2</label>
      <code>$tertiary-2</code>
      <label>#E31C62</label>
      <div class="color-box bg-tertiary-2">
        <div class="content"></div>
      </div>
    </div>
    <div class="col-md-2 mt-4 px-0 d-flex flex-column align-content-left">
      <label class="mb-0">Tertiary 3</label>
      <code>$tertiary-3</code>
      <label>#A47BC5</label>
      <div class="color-box bg-tertiary-3">
        <div class="content"></div>
      </div>
    </div>
  </div>

  <div class="row text-center mt-7">
    <div class="col-md-2 mt-4 px-0 d-flex flex-column align-content-left">
      <label class="mb-0">Gray Dark</label>
      <code>$gray-dark</code>
      <label>#404144</label>
      <div class="color-box bg-gray-dark"></div>
    </div>
    <div class="col-md-2 mt-4 px-0 d-flex flex-column align-content-left">
      <label class="mb-0">Gray Medium</label>
      <code>$gray-medium</code>
      <label>#747476</label>
      <div class="color-box bg-gray-medium"></div>
    </div>
    <div class="col-md-2 mt-4 px-0 d-flex flex-column align-content-left">
      <label class="mb-0">Gray</label>
      <code>$gray</code>
      <label>#919193</label>
      <div class="color-box bg-gray"></div>
    </div>
    <div class="col-md-2 mt-4 px-0 d-flex flex-column align-content-left">
      <label class="mb-0">Gray Border</label>
      <code>$gray-border</code>
      <label>#C7C6C7</label>
      <div class="color-box bg-gray-border"></div>
    </div>
    <div class="col-md-2 mt-4 px-0 d-flex flex-column align-content-left">
      <label class="mb-0">Gray Light</label>
      <code>$gray-light</code>
      <label>#F1F2F7</label>
      <div class="color-box bg-gray-light"></div>
    </div>
    <div class="col-md-2 mt-4 px-0 d-flex flex-column align-content-left">
      <label class="mb-0">Gray Lightest</label>
      <code>$gray-lightest</code>
      <label>#F5F6FA</label>
      <div class="color-box bg-gray-lightest"></div>
    </div>
    <div class="col-md-2 mt-4 px-0 d-flex flex-column align-content-left">
      <label class="mb-0">Gray Purple</label>
      <code>$gray-purple</code>
      <label>#F3F1F9</label>
      <div class="color-box bg-gray-purple"></div>
    </div>
  </div>

  <br /><br />
