<div class="container">
  <h1 class="mt-5 text-left">Brand Colors</h1>

  <div class="row text-center">
    <div class="col-md-2 mt-4 px-0 d-flex flex-column align-content-left">
      <label class="mb-0">primary 1</label>
      <code>$primary-1</code>
      <label class="lowercase">#404144</label>
      <div class="color-box bg-primary-1">
        <div class="content"></div>
      </div>
    </div>
    <div class="col-md-2 mt-4 px-0 d-flex flex-column align-content-left">
      <label class="mb-0">primary 2</label>
      <code>$primary-2</code>
      <label class="lowercase">#372772;</label>
      <div class="color-box bg-primary-2">
        <div class="content"></div>
      </div>
    </div>
    <div class="col-md-2 mt-4 px-0 d-flex flex-column align-content-left">
      <label class="mb-0">primary 3</label>
      <code>$primary-3</code>
      <label class="lowercase">#fff</label>
      <div class="color-box bg-primary-3">
        <div class="content"></div>
      </div>
    </div>
  </div>

  <div class="row text-center mt-7">
    <div class="col-md-2 mt-4 px-0 d-flex flex-column align-content-left">
      <label class="mb-0">secondary 1</label>
      <code>$secondary-1</code>
      <label class="lowercase">#4f3d93</label>
      <div class="color-box bg-secondary-1">
        <div class="content"></div>
      </div>
    </div>
    <div class="col-md-2 mt-4 px-0 d-flex flex-column align-content-left">
      <label class="mb-0">secondary 2</label>
      <code>$secondary-2</code>
      <label class="lowercase">#7a67a8</label>
      <div class="color-box bg-secondary-2">
        <div class="content"></div>
      </div>
    </div>
    <div class="col-md-2 mt-4 px-0 d-flex flex-column align-content-left">
      <label class="mb-0">secondary 3</label>
      <code>$secondary-3</code>
      <label class="lowercase">#d3cde3</label>
      <div class="color-box bg-secondary-3">
        <div class="content"></div>
      </div>
    </div>
    <div class="col-md-2 mt-4 px-0 d-flex flex-column align-content-left">
      <label class="mb-0">secondary 4</label>
      <code>$secondary-4</code>
      <label class="lowercase">#0071ce</label>
      <div class="color-box bg-secondary-4">
        <div class="content"></div>
      </div>
    </div>
    <div class="col-md-2 mt-4 px-0 d-flex flex-column align-content-left">
      <label class="mb-0">secondary 5</label>
      <code>$secondary-5</code>
      <label class="lowercase">#003967</label>
      <div class="color-box bg-secondary-5">
        <div class="content"></div>
      </div>
    </div>
    <div class="col-md-2 mt-4 px-0 d-flex flex-column align-content-left">
      <label class="mb-0">secondary 6</label>
      <code>$secondary-6</code>
      <label class="lowercase">#7259cb</label>
      <div class="color-box bg-secondary-6">
        <div class="content"></div>
      </div>
    </div>
    <div class="col-md-2 mt-4 px-0 d-flex flex-column align-content-left">
      <label class="mb-0">secondary 7</label>
      <code>$secondary-7</code>
      <label class="lowercase">#f3e9f2</label>
      <div class="color-box bg-secondary-7">
        <div class="content"></div>
      </div>
    </div>
  </div>

  <div class="row text-center mt-7">
    <div class="col-md-2 mt-4 px-0 d-flex flex-column align-content-left">
      <label class="mb-0">tertiary 1</label>
      <code>$tertiary-1</code>
      <label class="lowercase">#8c2a84</label>
      <div class="color-box bg-tertiary-1">
        <div class="content"></div>
      </div>
    </div>
    <div class="col-md-2 mt-4 px-0 d-flex flex-column align-content-left">
      <label class="mb-0">tertiary 2</label>
      <code>$tertiary-2</code>
      <label class="lowercase">#e31c62</label>
      <div class="color-box bg-tertiary-2">
        <div class="content"></div>
      </div>
    </div>
    <div class="col-md-2 mt-4 px-0 d-flex flex-column align-content-left">
      <label class="mb-0">tertiary 3</label>
      <code>$tertiary-3</code>
      <label class="lowercase">#a47bc5</label>
      <div class="color-box bg-tertiary-3">
        <div class="content"></div>
      </div>
    </div>
    <div class="col-md-2 mt-4 px-0 d-flex flex-column align-content-left">
      <label class="mb-0">tertiary 4</label>
      <code>$tertiary-4</code>
      <label class="lowercase">#cc1958;</label>
      <div class="color-box bg-tertiary-4">
        <div class="content"></div>
      </div>
    </div>
  </div>

  <div class="row text-center mt-7">
    <div class="col-md-2 mt-4 px-0 d-flex flex-column align-content-left">
      <label class="mb-0">gray dark</label>
      <code>$gray-dark</code>
      <label class="lowercase">#404144</label>
      <div class="color-box bg-gray-dark"></div>
    </div>
    <div class="col-md-2 mt-4 px-0 d-flex flex-column align-content-left">
      <label class="mb-0">gray medium</label>
      <code>$gray-medium</code>
      <label class="lowercase">#747476</label>
      <div class="color-box bg-gray-medium"></div>
    </div>
    <div class="col-md-2 mt-4 px-0 d-flex flex-column align-content-left">
      <label class="mb-0">gray</label>
      <code>$gray</code>
      <label class="lowercase">#919193</label>
      <div class="color-box bg-gray"></div>
    </div>
    <div class="col-md-2 mt-4 px-0 d-flex flex-column align-content-left">
      <label class="mb-0">gray border</label>
      <code>$gray-border</code>
      <label class="lowercase">#c7c6c7</label>
      <div class="color-box bg-gray-border"></div>
    </div>
    <div class="col-md-2 mt-4 px-0 d-flex flex-column align-content-left">
      <label class="mb-0">gray light</label>
      <code>$gray-light</code>
      <label class="lowercase">#f1f2f7</label>
      <div class="color-box bg-gray-light"></div>
    </div>
    <div class="col-md-2 mt-4 px-0 d-flex flex-column align-content-left">
      <label class="mb-0">gray lightest</label>
      <code>$gray-lightest</code>
      <label class="lowercase">#f5f6fa</label>
      <div class="color-box bg-gray-lightest"></div>
    </div>
    <div class="col-md-2 mt-4 px-0 d-flex flex-column align-content-left">
      <label class="mb-0">gray purple</label>
      <code>$gray-purple</code>
      <label class="lowercase">#f3f1f9</label>
      <div class="color-box bg-gray-purple"></div>
    </div>
  </div>

  <br /><br />
