
<div class="container">
  <h1 class="mt-5 text-center">Brand Color</h1>
  <div class="row text-center">

    <div class="col-md-4 mt-4 d-flex flex-column align-content-center">
      <label>Primary 1 <code>$primary1</code></label>
      <div class="color-box primary-1">
        <div class="content"></div>
      </div>
    </div>
    <div class="col-md-4 mt-4">
      <label>Primary 2 <code>$primary2</code></label>
      <div class="color-box primary-2" ></div>
    </div>
    <div class="col-md-4 mt-4">
      <label>Primary 3 <code>$primary3</code></label>
      <div class="color-box primary-3" ></div>
    </div>
  </div>
</div>

<br />

<div class="container">
  <div class="row text-center">
    <div class="col-md-3 mt-4">
      <label>Secondary 1 <code>$primary1</code></label>
      <div class="color-box secondary-1"></div>
    </div>
    <div class="col-md-3 mt-4">
      <label>Secondary 2 <code>$primary1</code></label>
      <div class="color-box secondary-2"></div>
    </div>
    <div class="col-md-3 mt-4">
      <label>Secondary 3 <code>$primary1</code></label>
      <div class="color-box secondary-3"></div>
    </div>
    <div class="col-md-3 mt-4">
      <label>Secondary 4 <code>$primary1</code></label>
      <div class="color-box secondary-4"></div>
    </div>
  </div>
</div>

<br />

<div class="container">
  <div class="row text-center">
    <div class="col-md-2 mt-4">
      <label>Tertiary 1 <code>$tertiary1</code></label>
      <div class="color-box tertiary-1"></div>
    </div>
    <div class="col-md-2 mt-4">
      <label>Tertiary 2 <code>$tertiary2</code></label>
      <div class="color-box tertiary-2"></div>
    </div>
    <div class="col-md-2 mt-4">
      <label>Tertiary 3 <code>$tertiary3</code></label>
      <div class="color-box tertiary-3"></div>
    </div>
    <div class="col-md-2 mt-4">
      <label>Tertiary 4 <code>$tertiary4</code></label>
      <div class="color-box tertiary-4"></div>
    </div>
    <div class="col-md-2 mt-4">
      <label>Tertiary 5 <code>$tertiary5</code></label>
      <div class="color-box tertiary-5"></div>
    </div>
    <div class="col-md-2 mt-4">
      <label>Tertiary 6 <code>$tertiary6</code></label>
      <div class="color-box tertiary-6"></div>
    </div>
  </div>
</div>

<br /><br/>
