<div class="container">
  <div class="row mt-md-3">
    <div class="col-md-6 p-3 d-flex justify-content-center">
      <button type="button" class="btn">Button</button>
    </div>
    <div class="col-md-6 p-3 d-flex justify-content-center">
      <button type="button" class="btn btn-outline">Button Outlined</button>
    </div>
  </div>
  <div class="row mt-md-3">
    <div class="col-md-6 p-3 d-flex justify-content-center bg-primary-2">
      <button type="button" class="btn btn-outline-light">Button Outlined Light</button>
    </div>
    <div class="col-md-6 p-3 d-flex justify-content-center bg-primary-2">
      <button type="button" class="btn btn-outline-white">Button Outlined White</button>
    </div>
  </div>
</div>
