<div class="container">
  <div class="row">
    <div class="col-md-6 mt-3 p-3 text-center">
      <button type="button" class="btn my-3">Button</button><br/>
      <button type="button" class="btn btn-outline my-3">Button Outline</button><br/>
      <button type="button" class="btn btn-dimmed my-3">Button Dimmed</button><br/>
    </div>
    <div class="col-md-6 mt-3 p-3 text-center bg-primary-2">
      <button type="button" class="btn btn-dark my-3">Button Dark</button><br>
      <button type="button" class="btn btn-dark-outline my-3">Button Dark Outline</button><br>
      <button type="button" class="btn btn-dark-dimmed my-3">Button Dark Outline</button><br>
    </div>
  </div>
</div>
