<div class="wrapper">

  {{> Modules-M2-Navigation }}

  <!-- Page Content  -->
  <section id="content">
    <!-- {{> Modules-MX-Grid-Tester }} -->
    {{> Modules-M3b-Header-Breadcrumb }}
    {{> Modules-M6-Search }}
    {{> Modules-M8-Article }}
    {{> Modules-M9-Chat-Launch }}
  </section>

</div>
