<div class="wrapper">

  {{> Modules-M2-Navigation-Side }}

  <!-- Page Content  -->
  <section id="content" class="pb-8">

    {{> Modules-M35-Navigation-Top }}
    {{> Modules-M3b-Header-Breadcrumb }}
    {{> Modules-M6-Search }}
    {{> Modules-M29-Article }}
    {{> Modules-M9-Chat-Launch }}

  </section>

  <!-- Dark Overlay  -->
  <div class="overlay"></div>

</div>
