
.authentication {
  height:100vh;
  .main-col {
    height:100vh;

    input {
      width: 300px;
    }

    button {
      width: 225px;
      height: 46px;
    }

    .contact-us {
      &:hover {
        color: $primary-3;
      }
    }

  }
}
