
.authentication {
  height:100vh;
  .main-col {
    height:100vh;

    input, label {
      width: 300px;
    }

    button {
      width: 225px;
      height: 46px;
    }

    .contact-us, .forgetful {
      &:hover {
        color: $primary-3;
      }
    }
  }

  &.forgot-password {
    background: linear-gradient(315deg, #9B2795 0%, #690894 29.93%, #281F56 100%);
    .wrap {
      max-width: 538px;
      border-radius: 6px;
      padding: 0 100px;
      box-shadow: -3px -3px 10px 8px rgba(40,46,75,0.5);
      .inner-wrap {
        max-width: 334px;
      }
    }
  }

}
