.cp-heading {
  background: linear-gradient(
    45.96deg,
    #4f3d93 0%,
    #8c2a84 100%,
    #a94dd9 100%,
    #af56e3 100%,
    #c86dd7 100%
  );
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  position: relative;
  z-index: 900;
  .caret {
    background-image: url("../../images/icons/caret.svg");
    background-size: 14px 8px;
    background-repeat: no-repeat;
    height: 8px;
    width: 14px;
  }
  [data-toggle="dropdown"] {
    color: $primary-3;
    &:hover {
      color: $primary-3;
    }
  }
}

.customer {
  background: $white;
  box-shadow: -3px 3px 10px 8px #e7e8ed;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  z-index: 800;
  .customer-profile {
    position: relative;
  }
  .edit {
    position: absolute;
    right: 15px;
    top: 56px;
    display: block;
  }
  .icon-pencil {
    background-image: url("../../images/icons/pencil.svg");
    background-size: 9px 9px;
    background-repeat: no-repeat;
    height: 9px;
    width: 9px;
  }
  .card {
    @include media-breakpoint-only(lg) {
      height: 263px;
    }
  }
  .address {
    height: 44px;
  }

  .billing-plans {
    .amount-due {
      height: 76px;
      .left-border {
        position: relative;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 6px;
          background-color: $tertiary-1;
          z-index: 999;
        }
      }
    }
  }
}
