.data-chart {
  .ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
    stroke: $tertiary-1 !important;
  }

  .ct-series-b .ct-bar, .ct-series-b .ct-line, .ct-series-b .ct-point, .ct-series-b .ct-slice-donut {
    stroke: $tertiary-3 !important;
  }

  .data-chart-nav {
    color: $gray;
    background-color: #fff;
    border-bottom: 3px solid #fff;
    margin: 0.5rem 1rem;
    padding: 0;
    padding-top: 10px;
    font-weight: 500;

    &:hover, &:active, &.active {
      border-bottom: 3px solid $secondary-4;
      color: $secondary-4;
    }
  }

  .chart-tooltip {
    z-index: 15;
  }

  .ct-chart {
     height: 286px;

    @include media-breakpoint-down(xs) {
      height: 335px;
    }
  }
}
