.carousel-home-cont {
  border-radius: 6px;
  box-shadow: 2px 2px 12px 7px #e7e8ed;
  overflow: hidden;
  background: linear-gradient(
    20.91deg,
    #372772 0%,
    #632f76 48.91%,
    #e74683 100%,
    #c86dd7 100%
  );
  .caro-close {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
  }
  .carousel-indicators > li {
    border-radius: 50%;
    opacity: 1;
    background-color: $tertiary-3;
    &.active {
      background-color: $primary-3;
    }
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 16px;
    height: 33px;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  .copy-wrap {
    @include media-breakpoint-up(lg) {
      max-width: 350px;
    }
  }
  .carousel-item {
    border-radius: 6px;
    height: 325px;
    @include media-breakpoint-up(sm) {
      height: 325px;
    }
    .carousel-img {
      width: 150px;
    }
  }
  button {
    @include media-breakpoint-down(md) {
      width: 200px;
    }
  }
}
