.data-sales {
  .sales-type {

    height: 100%;
    color: $primary-3;

    .col {
      flex: 1;
      align-items: center;
      display: flex;

      .col-inner {
        align-self: center;
      }
    }

    .ct {
      background-color: $primary-2;
    }

    .vt {
      background-color: $secondary-1;
    }

    .lb {
      background-color: $tertiary-1;
    }
  }
}
