.reporting {
  .nav-tabs {
    border: 0;
    a:not(.active) {
      color: $gray-dark;
    }
  }
  #sales-tab,
  #deposits-tab {
    width: 120px;
    border-bottom: 6px solid #e6e6ed;
    &.active {
      border-bottom: 6px solid $secondary-4;
      &:hover {
        border-bottom: 6px solid $secondary-5;
      }
    }
  }
  .reporting-summary {
    box-shadow: 0 0 10px 5px #e7e8ed;
    border-left: 6px solid $secondary-1;
    min-height: 58px;
  }
  .reporting-filters {
    .date-filters {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
    .right-arrow {
      margin-left: .5rem;
      margin-right: .5rem;
    }
    .from-date,
    .to-date {
      width: 100%;
    }
  }
  .export-link {
    margin-left: .5rem;
    white-space: nowrap;

    &:hover {
      svg g,
      svg path {
        fill: $secondary-5;
      }
    }
  }
}
