/* ---------------------------------------------------
    HAMBURGER MENU
----------------------------------------------------- */

.navbar {
  border: 0;
  border-radius: 0;
}

.navbar-btn {
  box-shadow: 0;
  outline: 0 !important;
  border: 0;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

.hamburger-menu {
  height: 50px;
  z-index: 8000;
  button {
    cursor: pointer;
    background-color: $primary-2;
    border: 0;
    &:active {
      background-color: $secondary-1;
    }
  }
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
  min-width: 147px;
  max-width: 147px;
  background: $primary-2;
  color: #fff;
  transition: $transition-base;
  z-index: 1045;
  min-height: 100vh;
  position: relative;

  #dismiss {
    position: absolute;
    cursor: pointer;
    top: 18px;
    right: 18px;
  }

  &.active {
    margin-left: -250px;
    transition: $transition-base;
    &~#content {
      position: fixed;
    }
  }

  .sidebar-header {
    background: $primary-2;
    & svg {
      width: 71px;
      height: 44px;
      fill: #fff;
    }
  }

  .sidebar-icon {
    position: absolute;
    top: 14px;
    height: 20px;
    width: 20px;
  }

  .sidebar-close {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='15px' height='15px' viewBox='0 0 15 15' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Close' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cpath d='M7.76872508,9.54076333 C7.63436254,9.40791902 7.36563746,9.40791902 7.23127492,9.54076333 L2.05831716,14.6552696 C1.85677335,14.8545361 1.38650446,14.9209582 1.11777938,14.6552696 L0.177241605,13.7253594 C-0.0914834732,13.4596707 -0.0243022035,12.9947156 0.177241605,12.7954491 L5.35019937,7.68094287 C5.48456191,7.54809856 5.48456191,7.28240992 5.35019937,7.1495656 L0.177241605,2.03505934 C-0.0243022035,1.83579286 -0.0914834732,1.37083774 0.177241605,1.10514911 L1.11777938,0.175238875 C1.38650446,-0.0904497616 1.85677335,-0.0240276024 2.05831716,0.175238875 L7.23127492,5.28974514 C7.36563746,5.42258946 7.63436254,5.42258946 7.76872508,5.28974514 L12.9416828,0.175238875 C13.1432267,-0.0240276024 13.6134955,-0.0904497616 13.8822206,0.175238875 L14.8227584,1.10514911 C15.0914835,1.37083774 15.0243022,1.83579286 14.8227584,2.03505934 L9.64980063,7.1495656 C9.51543809,7.28240992 9.51543809,7.54809856 9.64980063,7.68094287 L14.8227584,12.7954491 C15.0243022,12.9947156 15.0914835,13.4596707 14.8227584,13.7253594 L13.8822206,14.6552696 C13.6134955,14.9209582 13.1432267,14.8545361 12.9416828,14.6552696 L7.76872508,9.54076333 Z' id='Shape-Copy'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    height: 1rem;
    width: 1rem;
  }

  ul p {
    color: $white;
  }

  .org {
    color: $secondary-2;
    font-size: .875rem;
    font-weight: 500;
  }



  ul li {
    position: relative;

    &.main-link {
      height: 50px;
      a {
        padding: 6px 0;
      }
    }
    &.active {
      background-color: $secondary-2;
    }
    &.submenu {
      color: $secondary-1;
    }
    a {
      color: $primary-3;
      font-size: .875rem;
      font-weight: 500;
      text-decoration: none;
      display: block;
      &:before {
        content: "";
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 6px;
        background-color: $secondary-2;
        z-index: 999;
        transition: $transition-base;
      }
      .copy {
        max-width: 94px;
      }
      .bottom {
        opacity: 0;
      }
    }
  }

  ul li:hover, ul li:focus, ul li.active {
    text-decoration: none;

    .top {
      opacity: 0;
      transition: $transition-base;
    }
    .bottom {
      opacity: 1;
      transition: $transition-base;
    }
    a:before {
      visibility: visible;
      opacity: 1;
    }
  }

  .profile-link, .settings-link {
    &:hover, &:focus {
      a:before {
        visibility: hidden;
        opacity: 0;
      }
    }
  }

  .settings-link {
    height: 50px;
  }

  .rule {
    height: 1px;
    width: 98px;
    background-color: $secondary-2;
  }

}

a[data-toggle="collapse"] {
  position: relative;
}

/* ---------------------------------------------------
    Content
----------------------------------------------------- */

#content {
  width: 100%;
  background-color: $gray-lightest;
  min-height: 100vh;
  transition: $transition-base;
  z-index: 1000;

  @include media-breakpoint-up(lg) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @include media-breakpoint-up(xl) {
    padding-left: 7%;
    padding-right: 7%;
  }
}

// Prevent body content from scrolling when sidebar is open
nav#sidebar.active ~#content {
  position: fixed;
}

/* ---------------------------------------------------
    Overlay
----------------------------------------------------- */

.overlay {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1043;
  transition: $transition-base;
}

.overlay.active {
  visibility: visible;
  opacity: 1;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@include media-breakpoint-down(md) {
  #sidebar {
    margin-left: -147px;
    overflow-y: auto;
    position: fixed;
  }

  #sidebar.active {
    margin-left: 0;
    position: relative;
  }
}
