
.article {
	background: $white;
  box-shadow: -3px 3px 10px 8px #E7E8ED;
  min-height: 80vh;
  border-radius: 6px;

  @include media-breakpoint-down(md) {
    border-radius: 0px;
  }

  .jump-nav {
    .title {
      color: $primary-2;
      border-left: 6px solid $primary-2;
      text-transform: uppercase;
      letter-spacing: .5px;
    }
    .section {
      border-bottom: 2px solid $primary-1;
    }
    .rule-container {
      .rule {
        height: 2px;
        background-image: linear-gradient(to right, $secondary-1, $tertiary-2);
      }
      &:last-of-type {
        display: none;
      }
    }
    .small-rule {
      height: 1px;
      background-color: $tertiary-2;

    }
  }

  .article-img-cont {
    height: 250px;
    object-fit: cover;
  }

  .pull-quote {
    @include media-breakpoint-up(md) {
      width: 85%;
    }
  }

}
