
.modal-dialog {
  max-width: none;
  margin: 0;
  .modal-content {
    border: none;
    border-radius: 0;
    height: 100%;
    .modal-header {
      min-height: 170px;
      background-image: url('../../images/modal-header.svg');
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 0;
    }
    .modal-body {
      background-image: url('../../images/modal-pattern.svg');
      background-size: cover;
      background-repeat: no-repeat;
      .container {
        margin-top: -40px;
        background: $white;
        box-shadow: 0px 6px 10px 0px #E7E8ED;
        border: 1px solid $gray-lightest;
        border-radius: 6px;
      }
    }
    .modal-footer {
      border: none;
      border-radius: 0;
    }
  }
}
