.modal-dialog {
  max-width: none;
  margin: 0;
  .pills-edit-tab {
    display: none;
  }
  .invoice-send {
    display: none;
  }
  .modal-content {
    border: 0;
    border-radius: 0;
    background-color: transparent;
    .modal-header {
      position: fixed;
      z-index: 1025;
      height: 50px;
      width: 100%;
      border: 0;
      background-color: $primary-2;
      transition: $transition-modal-animation;
      .heading-row {
        z-index: 1020;
      }
      @include media-breakpoint-up(md) {
        z-index: 1020;
        height: 170px;
      }
      @include media-breakpoint-down(sm) {
        .ellipse-button {
          position: absolute;
          background-image: url("../../images/more.svg");
          background-position: center;
          background-size: 4px 18px;
          background-repeat: no-repeat;
          height: 40px;
          width: 40px;
          right: -30px;
          top: 4px;
        }
      }
      .header-img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center center;
        transition: $transition-modal-animation;
        z-index: 900;
      }
      &.shrink {
        @include media-breakpoint-up(md) {
          height: 76px;
          transition: $transition-modal-animation;
        }
        .header-img {
          height: 76px;
          opacity: 0;
          transition: $transition-modal-animation;
        }
      }
    }
    .modal-body {
      background-color: $primary-3;
      height: 100vh;
      @include media-breakpoint-up(md) {
        background-color: transparent;
      }
      &::before {
        background-image: url("../../images/modal-pattern.svg");
        background-color: $gray-lightest;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        content: "";
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        will-change: transform;
        z-index: -1;
      }
      .mainBox {
        background: $primary-3;
        position: relative;
        padding-left: 0;
        padding-right: 0;
        border-radius: 0;
        margin-top: 50px;
        z-index: 1020;
        @include media-breakpoint-up(md) {
          margin-top: 140px;
          padding-left: 15px;
          padding-right: 15px;
          border-radius: 6px;
          box-shadow: 0 11px 29px -1px #939393;
          border: 1px solid $gray-lightest;
        }
        .left-border {
          position: relative;
          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 6px;
            background-color: $primary-2;
            z-index: 999;
          }
        }
        .preview-logo {
          width: 50%;
          @include media-breakpoint-up(md) {
            width: 100%;
          }
        }
        .dollar-wrapper {
          position: relative;
          &:before {
            content: "$";
            position: absolute;
            top: 9px;
            left: 9px;
            z-index: 1;
          }
          input {
            padding-left: 22px;
          }
        }
        .card-images {
          height: 20px;
          margin-top: 40px;
        }
      }
    }
  }
}
