// Modal Lightbox Variant
.modal-lightbox {
  border: 0;
  .dismiss {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1055;
  }
  .lightbox-close {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='15px' height='15px' viewBox='0 0 15 15' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 52.4 (67378) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3EShape Copy%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Layout' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='LongLightbox@2x' transform='translate(-962.000000, -103.000000)' fill='%23919193' fill-rule='nonzero'%3E%3Cpath d='M969.768725,112.649801 C969.634363,112.515438 969.365637,112.515438 969.231275,112.649801 L964.058317,117.822758 C963.856773,118.024302 963.386504,118.091483 963.117779,117.822758 L962.177242,116.882221 C961.908517,116.613496 961.975698,116.143227 962.177242,115.941683 L967.350199,110.768725 C967.484562,110.634363 967.484562,110.365637 967.350199,110.231275 L962.177242,105.058317 C961.975698,104.856773 961.908517,104.386504 962.177242,104.117779 L963.117779,103.177242 C963.386504,102.908517 963.856773,102.975698 964.058317,103.177242 L969.231275,108.350199 C969.365637,108.484562 969.634363,108.484562 969.768725,108.350199 L974.941683,103.177242 C975.143227,102.975698 975.613496,102.908517 975.882221,103.177242 L976.822758,104.117779 C977.091483,104.386504 977.024302,104.856773 976.822758,105.058317 L971.649801,110.231275 C971.515438,110.365637 971.515438,110.634363 971.649801,110.768725 L976.822758,115.941683 C977.024302,116.143227 977.091483,116.613496 976.822758,116.882221 L975.882221,117.822758 C975.613496,118.091483 975.143227,118.024302 974.941683,117.822758 L969.768725,112.649801 Z' id='Shape-Copy'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;
    height: 1rem;
    width: 1rem;
  }
  .modal-dialog {
    @include media-breakpoint-down(xs) {
      margin: 0;
    }
  }
  .modal-content {
    border: 0;
    @include media-breakpoint-up(sm) {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }
    .modal-header {
      border: 0;
      background-color: $primary-2;
    }
    .modal-body {
      .card-images {
        height: 28px;
        @include media-breakpoint-down(sm) {
          height: 25px;
        }
        @include media-breakpoint-up(md) {
          margin-top: 36px;
        }
      }
    }
    .modal-footer {
      height: 175px;
      background-image: url("../../images/bg-lightbox.svg");
      background-color: #281f56;
      background-position: center center;
      background-size: cover;
    }
  }
}

// Full Screen Modal Variant
.modal-full {
  position: fixed;
  @include media-breakpoint-down(sm) {
    position: fixed;
    -webkit-overflow-scrolling: touch;
  }
  .modal-dialog {
    max-width: none;
    margin: 0;
    .pills-edit-tab {
      display: none;
    }
    .invoice-send {
      display: none;
    }
    .modal-content {
      border: 0;
      border-radius: 0;
      .mini-header {
        display: none;
        position: fixed;
        top: -85px;
        left: 0;
        right: 0;
        z-index: 1025;
        &.show {
          @include media-breakpoint-up(md) {
            display: block;
          }
        }
      }
      .modal-header {
        @include media-breakpoint-down(sm) {
          z-index: 1025;
          height: 50px;
          width: 100%;
          border: 0;
          background-color: $primary-2;
          transition: $transition-modal-animation;
          .ellipse-button {
            position: absolute;
            background-image: url("../../images/more.svg");
            background-position: center;
            background-size: 4px 18px;
            background-repeat: no-repeat;
            height: 40px;
            width: 40px;
            right: -30px;
            top: 4px;
            z-index: 1025;
          }
        }
        @include media-breakpoint-up(md) {
          z-index: 1020;
          height: 170px;
          position: relative;
        }
        .heading-row {
          z-index: 1020;
        }
        .header-img {
          position: absolute;
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center center;
          transition: $transition-modal-animation;
          z-index: 900;
        }
      }

      .modal-body {
        @include media-breakpoint-down(sm) {
          height: calc(100vh + 40px);
          overflow-y: auto;
          padding-bottom: 0;
          .container {
            background-color: $primary-3;
            width: 100%;
          }
        }
        @include media-breakpoint-up(md) {
          background-color: transparent;
          &::before {
            content: "";
            background-image: url("../../images/modal-pattern.svg");
            background-color: $gray-lightest;
            background-repeat: no-repeat;
            background-attachment: fixed;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-position: center top;
            background-size: cover;
          }
        }
        .mainBox {
          background: $primary-3;
          position: relative;
          border-radius: 0;
          // margin-top: 50px;
          z-index: 1020;
          @include media-breakpoint-up(md) {
            margin-top: -30px;
            padding-left: 15px;
            padding-right: 15px;
            border-radius: 6px;
            box-shadow: 0 11px 29px -1px #939393;
            border: 1px solid $gray-lightest;
          }
          .left-border {
            position: relative;
            &:before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 6px;
              background-color: $primary-2;
              z-index: 999;
            }
          }
          .dollar-wrapper {
            position: relative;
            &:before {
              content: "$";
              position: absolute;
              top: 9px;
              left: 9px;
              z-index: 1;
            }
            input {
              padding-left: 22px;
            }
          }
          .card-images {
            height: 20px;
            @include media-breakpoint-up(md) {
              margin-top: 40px;
            }
            @include media-breakpoint-up(xl) {
              height: 28px;
              margin-top: 35px;
            }
          }
          .edit-card-img {
            &.single {
              height: 28px;
              box-shadow: 1px 3px 4px 0px #e7e8ed;
              @include media-breakpoint-up(md) {
                height: 36px;
                margin-top: 30px;
              }
            }
            &.multiple {
              height: 28px;
              @include media-breakpoint-up(md) {
                height: 30px;
                margin-top: 33px;
              }
            }
          }
          .optional {
            letter-spacing: 0;
          }
          .customer-note {
            border-bottom: 1px solid #e31c62;
            width: 100%;
            @include media-breakpoint-up(md) {
              width: 75%;
            }
          }
        }
      }
      .btns-bottom {
        @include media-breakpoint-only(xs) {
          width: 100%;
        }
        button {
          @include media-breakpoint-only(xs) {
            width: 100%;
          }
        }
      }
    }
  }
}

// Fixes Modal Invoice Preview Logo on the Component Level
.preview-logo {
  max-width: 140px;
}

.modal-button-bottom {
  @include media-breakpoint-only(xs) {
    margin-bottom: 1rem;
    width: 100%;
  }
}

.sale-tip-list {
  padding-left: .5rem;
  list-style: none;
  position: relative;

  li::before {
    content: '\2022';
    color: inherit;
    position: absolute;
    left: 0;
  }
}
