#invoice-preview-table,
#invoice-edit-table {
  border-width: 0;
  border: 0 !important;
  box-shadow: 3px 3px 10px 2px #e7e8ed;

  tr,
  td {
    border-width: 0;
    border: 0 !important;
  }
  input {
    border: 0;
  }
  td {
    border-bottom: 1px solid $secondary-3;
  }
}

#sales-table,
#deposits-table {
  td {
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid $secondary-3;
  }
  input {
    border: 0;
  }
}

#invoice-preview-table,
#sales-table,
#deposits-table {
  .even {
    background-color: $gray-light;
  }
  .odd {
    background-color: $primary-3;
  }
}

#sales-table {
  .ellipse {
    cursor: pointer;
  }
}

table.dataTable.dtr-inline.collapsed
  > tbody
  > tr[role="row"]
  > td:first-child:before,
table.dataTable.dtr-inline.collapsed
  > tbody
  > tr[role="row"]
  > th:first-child:before {
  display: none;
}
