
.modal-invoice-table {
  border-width: 0;
  border: 0 !important;


  tr, td {
    border-width: 0;
    border: 0 !important;
  }

  input {
    border: 0;
  }

  .even {
    background-color: $secondary-8;
  }

}
