
#invoice-preview-table, #invoice-edit-table {
  border-width: 0;
  border: 0 !important;

  tr, td {
    border-width: 0;
    border: 0 !important;
  }
  input {
    border: 0;
  }
  // testing reordering
  // .even {
  //   background-color: $tertiary-3;
  // }
}

#invoice-preview-table {
  .even {
    background-color: $secondary-8;
  }
}
