
<div class="container chat-launch mt-8">
  <div class="row">
    <div class="col-12 d-flex justify-content-center align-items-center">
      <span><img src="{{ chat.bubble }}"></span><span class="display3 medium primary-2 mx-3">{{ chat.title }}</span><span class="label primary-2">{{ chat.wait-copy }}</span><span class="label primary-2">&nbsp;{{ chat.wait-time }}</span><button class="btn btn-secondary mx-3">Start Chat</button>
    </div>
  </div>
</div>
