<div class="wrapper" style="background-color: #281F56; background-image: url('{{ authentication.bg }}'); background-repeat: no-repeat; background-attachment: fixed; background-position: right;">

  {{> Modules-M1-Authentication }}

</div>
