<div class="bg-gray-lightest">
  <div class="container pb-5 pt-5 pt-md-7">
    <div class="row">
      <div class="col">

        <h1 class="display2 mt-5">Buttons</h1>
        {{!-- <p class="mt-3"></p> --}}

      </div>
    </div>
  </div>
</div>

<div class="container pt-8 pb-8">
  <div class="row pt-5">
    <div class="col-12 pb-1 pb-sm-4">
      <h2 class="display5">Primary</h2>
    </div>
    <div class="col-sm-6 text-center">
      <button type="button" class="btn my-3">Button</button>
    </div>
    <div class="col-sm-6 text-center bg-primary-2">
      <button type="button" class="btn btn-dark my-3">Button Dark</button>
    </div>
  </div>

  <div class="row pt-8">
    <div class="col-12 pb-1 pb-sm-4">
      <h2 class="display5">Outline</h2>
    </div>
    <div class="col-sm-6 text-center">
      <button type="button" class="btn btn-outline my-3">Button Outline</button>
    </div>
    <div class="col-sm-6 text-center bg-primary-2">
      <button type="button" class="btn btn-dark-outline my-3">Button Dark Outline</button>
    </div>
  </div>

  <div class="row pt-8">
    <div class="col-12 pb-1 pb-sm-4">
      <h2 class="display5">Dimmed</h2>
    </div>
    <div class="col-sm-6 text-center">
      <button type="button" class="btn btn-dimmed my-3">Button Dimmed</button>
    </div>
    <div class="col-sm-6 text-center bg-primary-2">
      <button type="button" class="btn btn-dark-dimmed my-3">Button Dark Dimmed</button>
    </div>
  </div>

  <div class="row pt-8">
    <div class="col-12 pb-1 pb-sm-4">
      <h2 class="display5">Filter</h2>
    </div>
    <div class="col-sm-6 text-center">
      <button type="button" class="btn btn-filter">Filter</button><br />
    </div>
  </div>

  <div class="row pt-8">
    <div class="col-12 pb-1 pb-sm-4">
      <h2 class="display5">Pay with CardX</h2>
    </div>
    <div class="col-sm-6 text-center">
      <input type="image" src="../../images/trigger.svg" name="saveForm" class="btTxt submit" id="saveForm" />
    </div>
  </div>

</div>
