
* {
	text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); // Remove tap highlight color - ugly!
	-webkit-tap-highlight-color: transparent; // For some Androids
}

html,
body {
	max-width: 100%;
	-webkit-font-smoothing: antialiased;
	/* the slickest text out there */
	-moz-osx-font-smoothing: grayscale;
}


@include media-breakpoint-down(md) {
  .container {
    width: 90%;
  }
}

.wrapper {
  display: flex;
  width: 100%;
  overflow: hidden;
  align-items: stretch;
}

.rule {
  height: 2px;
  background-image: linear-gradient(to right, $secondary-1, $tertiary-2);
  &.plain {
    background-image: none;
    backgound-color: $primary-3;
  }
}

// Prevent body content from scrolling when sidebar is open
.nav#sidebar.active ~#content {
  position: fixed;
}


// Debug utility that makes grey boxes behind all blocks, for layout debugging
//  @include debug;


// usman this should all be in the chart scss module file
.home {
  background: $white;
  box-shadow: -3px 3px 10px 8px #e7e8ed;
  border-radius: 0 6px 6px 0;
  position: relative;

  .col-f-1 {
    flex: 1;
  }

  .w-sm-100{
    width: 85%;
    @include media-breakpoint-up(sm) {
      width: auto;
    }
  }
  .line{
    position: absolute;
    top:0px;
    left:0px;
    bottom:0px;
    width:100%;
    height:6px;
    background-color: $primary-2;
    border: $primary-2;

    @include media-breakpoint-up(sm) {
      position: absolute;
      width:6px;
      height:100%;
    }
  }

  .data-sales {

    // height: 96px;
    .sales-type {
      //display: flex;
      //flex-direction: row;
      height: 100%;
      color: $primary-3;

      .col {
        flex: 1;
        align-items: center;
        display: flex;

        .col-inner {
          align-self: center;
        }
      }

      .ct {
        background-color: $primary-2;
      }

      .vt {
        background-color: $secondary-2;
      }

      .lb {
        background-color: $tertiary-1;
      }
    }
  }

  .data-chart {
    .ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
      stroke: $tertiary-1 !important;
    }

    .ct-series-b .ct-bar, .ct-series-b .ct-line, .ct-series-b .ct-point, .ct-series-b .ct-slice-donut {
      stroke: $tertiary-3 !important;
    }
    .data-chart-nav{
      color: $gray-medium;
      background-color: #fff;
      border-bottom: 2px solid #fff;
      margin: 0.5rem 1rem;
      padding: 0px;
      padding-top: 10px;
      font-weight: 500;

      &:hover, &:active, &.active{
       border-bottom: 2px solid $secondary-4;
       color: $secondary-4;
      }
    }
  }
}

