// sass-lint:disable no-duplicate-properties
* {
  text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(
    0,
    0,
    0,
    0
  ); // Remove tap highlight color - ugly!
  -webkit-tap-highlight-color: transparent; // For some Androids
}

html,
body {
  max-width: 100%;
  -webkit-font-smoothing: antialiased;
  /* the slickest text out there */
  -moz-osx-font-smoothing: grayscale;
}

@include media-breakpoint-down(md) {
  .container {
    width: 90%;
  }
}

.wrapper {
  display: flex;
  width: 100%;
  overflow: hidden;
  align-items: stretch;
}

.rule {
  height: 2px;
  background-image: linear-gradient(to right, $secondary-1, $tertiary-2);
  &.white {
    background-image: none;
    background-color: $primary-3;
  }
  &.thin-gray {
    height: 1px;
    background-image: none;
    background-color: $gray-border;
  }
}

// Prevent body content from scrolling when sidebar is open
.nav#sidebar.active ~ #content {
  position: fixed;
}

.ui-datepicker {
  z-index: 99999 !important;
}

// Debug utility that makes grey boxes behind all blocks, for layout debugging
// @include debug;
