
a {
  color: $secondary-4;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: $secondary-5;
    text-decoration: none;
  }
  &.accent {
    word-wrap: break-word;
    &:hover {
      color: $secondary-5;
    }
  }
}
