<!DOCTYPE html>
<html lang="en" class="{{ htmlClass }}">

<head>
  <title>{{ title }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" />

  <!-- Site Font -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

  <!-- Chartist for Charts -->
  <link rel="stylesheet" type="text/css" href="../../css/vendor/chartist.min.css" />
  <link rel="stylesheet" type="text/css" href="../../css/vendor/chartist-plugin-tooltip.css" />
  <link rel="stylesheet" type="text/css" href="../../css/vendor/chartist-plugin-legend.css" />

  <!-- Data Tables -->
  <link rel="stylesheet" type="text/css" href="../../css/vendor/scroller.bootstrap4.min.css" />
  <link rel="stylesheet" type="text/css" href="../../css/vendor/dataTables.bootstrap4.min.css" />
  <link rel="stylesheet" type="text/css" href="../../css/vendor/rowReorder.bootstrap4.min.css" />

  <!-- Date Picker -->
  <link rel="stylesheet" type="text/css" href="../../css/vendor/jquery-ui.min.css" />

  <!-- Custom SCSS Implementation -->
  <link rel="stylesheet" type="text/css" href="../../css/style.css" />

  <link rel="icon" href="../../favicon.ico">

  <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
  {{{ patternLabHead }}}
  <!-- End Pattern Lab -->

</head>

<body class="{{ bodyClass }}">
